# Deployed Smart Contract Wallet Address (Sepolia Testnet)
VITE_SMART_WALLET_ADDRESS=0x71C7656EC7ab88b098defB751B7401B5f6d8976F

# Sepolia RPC URL (e.g. Infura, Alchemy, or Public Sepolia RPC)
VITE_SEPOLIA_RPC_URL=https://rpc.sepolia.org
